<div class="contentContainer">
    <div class="formContainer" [formGroup]="form">
        <button mat-raised-button style="padding: 1rem;" class="loginButton">
            <mat-icon style="width: 50px; height:25px"
                      svgIcon="google"></mat-icon> Login With Google
        </button>  

        <div class="mt--1" style="align-items: center; justify-content: center; display: flex;"> 
            <mat-divider style="width: 40%; display: inline-block;"></mat-divider>
            <span style="padding: 20px; font-weight: 500;">Or</span>
            <mat-divider style="width: 40%; display: inline-block;"></mat-divider>
        </div>

        <div *ngIf="invalidLogin" class="">Invalid Username or Password</div>

        <mat-form-field class="mt--1">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="form.controls.email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mt--1">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="form.controls.password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <div class="mt--2">
            <button class="loginButton" mat-raised-button color="primary" (click)="onSubmit()">Log In</button>
            <div class="accountQuestion">
                <p>Don`t have an account? </p>
                <a class="textLink" role="button" color="accent" (click)="onGoToRegister()">Register</a>
            </div>
        </div>
    </div>
</div>
