.formContainer{
    display: flex;
    flex-direction: column;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.usersContainer{
    margin-top: 10px;
}
.userListElement{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.1rem;  
}

.buttonContainer{
    float: right;
    margin-left: auto;
}
.imageButtonContainer{
    display: flex;
    gap: 10px;
    align-items: center;
}