.sideNavContainer{
    width: 300px;
    display: flex;
    flex-direction: column;
}



.buttonsContainer{
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.logoutButton{
    margin-top: 20px;
    width: 100px;
    align-self: center;
}

.navigationContainer{
    margin-left: 20px;
}